/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

.custom-block.tip
  background-color: #fdf8ff;
  border-color: #9633bf;


table
  width:100%;
  display: table;
